/.git
/.gitignore
/.idea
/.env
/.env.*
/auth.json
/auth.json.dist
/docker-compose.yml
/Dockerfile
/README.md
/data
/dev
/generated
/node_modules
/patch
/pub/static
/setup
/var
/vendor
/.gitignore
/.editorconfig
/Gruntfile.js
/grunt-config.json
/package.json
/package-lock.json
/phpunit.xml
