/.git
/.gitignore
/.idea
/.env
/.env.*
/auth.json
/auth.json.dist
/docker-compose.yml
/Dockerfile
/README.md
/data
/var
/node_modules
/generated
/vendor
/setup
/dev
/.gitignore
/Gruntfile.js
/grunt-config.json
/package.json
/package-lock.json
/phpunit.xml
