/data/elasticsearch/*
!/data/elasticsearch/.gitignore
/data/mysql/*
!/data/mysql/.gitignore
/data/mysql-initdb/*
!/data/mysql-initdb/.gitignore
!/data/mysql-initdb/setup.sql
/data/redis-cache/*
!/data/redis-cache/.gitignore
/data/redis-session/*
!/data/redis-session/.gitignore
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/auth.json
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/pub/media/*
!/pub/media/.gitignore
/pub/static/*
!/pub/static/.gitignore
/data/media/*.*
!/data/media/.gitignore
/data/media/attribute/*
!/data/media/attribute/.gitignore
/data/media/analytics/*
/data/media/catalog/*
!/data/media/catalog/.gitignore
/data/media/customer/*
!/data/media/customer/.gitignore
/data/media/downloadable/*
!/data/media/downloadable/.gitignore
/data/media/favicon/*
/data/media/import/*
!/data/media/import/.gitignore
/data/media/logo/*
/data/media/custom_options/*
!/data/media/custom_options/.gitignore
/data/media/theme/*
/data/media/theme_customization/*
!/data/media/theme_customization/.gitignore
/data/media/wysiwyg/*
!/data/media/wysiwyg/.gitignore
/data/media/tmp/*
!/data/media/tmp/.gitignore
/data/media/captcha/*
/data/media/sitemap/*
!/data/media/sitemap/.gitignore

/var/*
!/var/.gitignore
/vendor/*
!/vendor/.gitignore
/generated/*
!/generated/.gitignore
.DS_Store
